<?xml version="1.0"?>

<configuration>


  <connectionStrings>
    <add name="DrinksConnectionStringForDropDown" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\app_data\Drinks.mdb"
      providerName="System.Data.OleDb" />
    <add name="ConnectionStringChange" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Drinks.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <pages enableSessionState="true" />
  </system.web>
  <system.web>
    <!--<compilation debug="true" targetFramework="4.0" />-->
  </system.web>

</configuration>
